@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<project_8.Models.Major>



@*<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    // your AJAX code here
        $(document).ready(function () {
            $("#searchForm").submit(function (event) {
                event.preventDefault(); // stop the form submission from reloading the page
                var searchValue = $("#searchInput").val(); // get the search input value
                $.ajax({
                    type: "GET",
                    url: "/Home/Search",
                    data: { search: searchValue },
                    success: function (result) {
                        // update the page with the search results
                        $("#searchResults").html(result);
                    },
                    error: function () {
                        // handle the error
                        alert("An error occurred while processing the search request.");
                    }
                });
            });
        });

    </script>*@






<div class="hero-wrap" style="background-image: url('/images/bg_11.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center">
                <h1 class="mb-4">No Nation Can Prosper In Life Without Education</h1>
                <p><a href="/Account/Register" class="btn btn-primary px-4 py-3">Apply Now</a> <a href="#Faculty" class="btn btn-secondary px-4 py-3">View Faculty</a></p>
            </div>
        </div>
    </div>
</div>


<section class="ftco-search-course">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="courseSearch-wrap d-md-flex flex-column-reverse">
                    <div class="full-wrap d-flex ftco-animate">
                        <div class="one-third order-last p-5">
                            <span>Know what you're after?</span>
                            <h3>I want to study</h3>
                            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "course-search-form", id = "searchForm" }))
                            {
                                <div class="form-group d-flex">
                                    @Html.TextBox("search", "", new { @class = "form-control", id = "searchInput", PlaceHolder = "Major you want to study" })
                                    <button type="submit" class="btn-warning submit">search</button>
                                </div>
                            }

                            <p>Just Browsing? <a href="/Majors/AllMajors"> See all majors</a></p>
                        </div>
                        <div class="one-forth order-first img" style="background-image: url(/images/image_1.jpg);"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@{if (ViewBag.Search != null)
    {
        @*@Html.Action("MajorsSearch")*@
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 d-flex ftco-animate">
                            <div class="course align-self-stretch">
                                <a href="#" class="img" style="background-image: url(/images/@item.img)"></a>
                                <div class="text p-4">
                                    <p class="category"><span>price</span> <span class="price">@item.Price</span>$</p>
                                    <h3 class="mb-3"><a href="#">@item.Name</a></h3>
                                    <p>@item.Description</p>
                                    @Html.ActionLink("Enroll now!", "Courses", "Cours", new { id = item.Id }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    if (ViewBag.Search <= 0)
    {
        <h2 style="text-align:center">@ViewBag.Message</h2>
    }


}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center mb-3"><span class="flaticon-exam"></span></div>
                    <div class="media-body px-3">
                        <h3 class="heading">Admission</h3>
                        <p>The criteria for admission of students to the university depends on their grades in high school and their educational attainment.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center mb-3"><span class="flaticon-blackboard"></span></div>
                    <div class="media-body px-3">
                        <h3 class="heading">Education</h3>
                        <p>We provide advanced student services in methods of learning, communication and cognitive technology, in addition to the cultural exchange that enriches the university.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center mb-3"><span class="flaticon-books"></span></div>
                    <div class="media-body px-3">
                        <h3 class="heading">Our Library</h3>
                        <p>Our library is one of the largest offices in the world, as it includes many books and newspapers, as we are keen to provide students with all means of learning.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section-3 img" style="background-image: url(/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex justify-content-center">
            <div class="col-md-9 about-video text-center">
                <h2 class="ftco-animate">Genius University is a Leading Schools Around the World</h2>
                <div class="video d-flex justify-content-center">
                    <a href="https://vimeo.com/45830194" class="button popup-vimeo d-flex justify-content-center align-items-center"><span class="ion-ios-play"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-counter bg-light" id="section-counter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="@Html.Action("SatisfiedStudents")">0</strong>
                                <span>Satisfied Students</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="@Html.Action("Majors")">0</strong>
                                <span>Majors</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="@Html.Action("Course")">0</strong>
                                <span>Courses</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="@Html.Action("Faculty")">0</strong>
                                    <span>Faculty</span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">What Our Student Says</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap text-center">
                                <div class="user-img mb-5" style="background-image: url(/images/person_1.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    <p class="name">Dennis Green</p>
                                    <span class="position">CSE Student</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center">
                                <div class="user-img mb-5" style="background-image: url(/images/person_2.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    <p class="name">Dennis Green</p>
                                    <span class="position">Math Student</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center">
                                <div class="user-img mb-5" style="background-image: url(/images/person_3.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    <p class="name">Dennis Green</p>
                                    <span class="position">Science Students</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center">
                                <div class="user-img mb-5" style="background-image: url(/images/person_3.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    <p class="name">Dennis Green</p>
                                    <span class="position">English Student</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@*<section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Our Experience Advisor</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-sm-4 ftco-animate">
                    <div class="staff">
                        <div class="d-flex mb-4">
                            <div class="img" style="background-image: url(/images/person_1.jpg);"></div>
                            <div class="info ml-4">
                                <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                                <span class="position">CSE Teacher</span>
                                <p class="ftco-social d-flex">
                                    <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a>
                                    <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a>
                                    <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="text">
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-sm-4 ftco-animate">
                    <div class="staff">
                        <div class="d-flex mb-4">
                            <div class="img" style="background-image: url(/images/person_2.jpg);"></div>
                            <div class="info ml-4">
                                <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                                <span class="position">CSE Teacher</span>
                                <p class="ftco-social d-flex">
                                    <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a>
                                    <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a>
                                    <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="text">
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-sm-4 ftco-animate">
                    <div class="staff">
                        <div class="d-flex mb-4">
                            <div class="img" style="background-image: url(/images/person_3.jpg);"></div>
                            <div class="info ml-4">
                                <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                                <span class="position">CSE Teacher</span>
                                <p class="ftco-social d-flex">
                                    <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a>
                                    <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a>
                                    <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="text">
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@*<section class="ftco-freeTrial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex align-items-center">
                        <div class="free-trial ftco-animate">
                            <h3>Try our free trial course</h3>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                        </div>
                        <div class="btn-join ftco-animate">
                            <p><a href="#" class="btn btn-primary py-3 px-4">Join now!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4" id="Faculty">Our Faculty</h2>
            </div>
        </div>
        <div>
            @Html.Raw(File.ReadAllText(Server.MapPath("~/HomeAPI.html")))

        </div>

        @*<iframe src="~/moath.html" style="width:100vw"></iframe>*@

        @*<div class="row justify-content-center mt-5">
                <div class="col-md-10 ftco-animate">
                    <p><strong>When she reached</strong> the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                    <p><span>Just Browsing?</span><a href="course.html"> View All Courses</a></p>
                </div>
            </div>*@
    </div>
</section>

@*<section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Recent from blog</h2>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_1.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-3"><a href="#">How to standout at start of your UX Career</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_2.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-3"><a href="#">How to standout at start of your UX Career</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_3.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-3"><a href="#">How to standout at start of your UX Career</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@*<section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Our Latest Events</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/images/event-1.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">Sep. 10, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mb-4"><a href="#">Intern Bootcamp Meetup 2018</a></h3>
                            <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry d-flex align-self-stretch flex-column-reverse">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/images/event-2.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">Sep. 10, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mb-4"><a href="#">Intern Bootcamp Meetup 2018</a></h3>
                            <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/images/event-3.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">Sep. 10, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mb-4"><a href="#">Intern Bootcamp Meetup 2018</a></h3>
                            <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@*<section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2>Subcribe to our Newsletter</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                        <div class="row d-flex justify-content-center mt-5">
                            <div class="col-md-8">
                                <form action="#" class="subscribe-form">
                                    <div class="form-group d-flex">
                                        <input type="text" class="form-control" placeholder="Enter email address">
                                        <input type="submit" value="Subscribe" class="submit px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@*<script>
        $(document).ready(function () {
            $("#searchForm").submit(function (event) {
                event.preventDefault(); // stop the form submission from reloading the page
                var searchValue = $("#searchInput").val(); // get the search input value
                $.ajax({
                    type: "GET",
                    url: "/Home/Search",
                    data: { search: searchValue },
                    success: function (result) {
                        // update the page with the search results
                        $("#searchResults").html(result);
                    },
                    error: function () {
                        // handle the error
                        alert("An error occurred while processing the search request.");
                    }
                });
            });
        });

    </script>*@